@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap');
*
{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.hero
{
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #6ac1c5, #bda5ff);
}

#calender
{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
